

/*
 * All the colors for the project. Feel free to change
 */
$bodyFontColor:                 #222;

$white:                         #fff;
$liteGray:                      #f3f3f5;
$medGray:                       #999;
$gray:                          #58595b;

$tlGray:                        #999;
$tlGreen:                       #589b0e;
$tlRed:                         #c33;
$tlBlue:                        #006494;
$tlOrange:                      #f90;

$contaoOrange:                  #f47c00;
$contaoOrangeHover:             #e87600;
