
/*
 * All the fonts for the project. Feel free to change
 */
$contaoFont:    -apple-system,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$bodyFont:      Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$codeFont:      SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;