/* Error messages */
.tl_message {
    max-width:420px;
    margin:36px auto 0;
    text-align:center;
}
.tl_error,.tl_info,.tl_confirm {
    padding:3px 0;
    line-height:1.5;
    font-size:1rem;
}
.tl_error {
    color:#c33;
}
.tl_info {
    color:#006494;
}
.tl_confirm {
    color:#589b0e;
}
