/* Body */
body {
    background:#ffffff url("icons/contao.svg") center 4.5em no-repeat;
}

/* Container */
#container {
    margin:15em 10px 0;
}
#main {
    max-width:350px;
    margin:0 auto;
    background:#fff;
    border-radius:2px;
}

/* Headlines */
#container h1 {
    margin-bottom:1em;
}
