/* JS warning */
#javascript {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:9px;
    background: var(--white);
    text-align:center;
}
.js #javascript {
    display:none;
}

.lost-password.message-section {
    background: transparent !important;
}
