/* Buttons */
#tl_buttons {
    margin:0;
    padding:12px 15px;
    text-align:right;
}
#tl_buttons + .tl_edit_form .tl_formbody_edit {
    border-top: 1px solid var(--border);
}
.toggleWrap {
    cursor:pointer;
}
.opacity {
    -moz-opacity:.8;
    opacity:.8;
}