

/* Crawler */
@keyframes crawl-progress-bar-stripes {
    0% {
        background-position-x:1rem;
    }
}
#tl_crawl .tl_tbox {
    padding-top:0;
}
#tl_crawl .tl_tbox > div {
    max-width:562px;
}
#tl_crawl .tl_checkbox_container {
    margin-top:9px;
}
#tl_crawl .inner {
    position:relative;
    margin:0 18px 18px;
}
#tl_crawl .progress {
    display:flex;
    height:20px;
    overflow:hidden;
    background-color:#f0f0f2;
    margin-right:20px;
    border-radius:2px;
}
#tl_crawl .progress-bar {
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    text-align:center;
    white-space:nowrap;
    background-size:10px 10px;
}
#tl_crawl .progress-bar.running {
    background-color:#f47c00;
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    animation:crawl-progress-bar-stripes 1s linear infinite;
}
#tl_crawl .progress-bar.finished {
    background-color:#589b0e;
}
#tl_crawl .progress-count {
    margin:6px 0 24px;
}
#tl_crawl .results h3 {
    font-size:.9rem;
    margin:18px 0 9px;
}
#tl_crawl .results p {
    margin-bottom:6px;
}
#tl_crawl .results .spinner {
    margin:0;
    padding:10px;
    background:url("icons/loading.svg") no-repeat left center;
    background-size:16px;
}
#tl_crawl .subscriber-log {
    display:none;
    padding:5px 0;
    margin-bottom:0;
}
#tl_crawl .wait {
    margin-top:18px;
}
#tl_crawl .debug-log {
    position:absolute;
    top:2px;
    right:0;
}
#tl_crawl .results.running .show-when-finished,#tl_crawl .results.finished .show-when-running {
    display:none;
}
#tl_crawl .results.running .show-when-running,#tl_crawl .results.finished .show-when-finished {
    display:block;
}
#tl_crawl .result .summary.success {
    color:#589b0e;
}
#tl_crawl .result .summary.failure {
    color:#c33;
}
#tl_crawl .result .warning {
    display:none;
    color:#006494;
}