

/* Data container */
#main_headline {
    margin:20px 0;
    padding:0 16px;
    font-size: 2rem;
}
.popup #main_headline {
    display:none;
}
#main_headline span:nth-child(even) {
    font-weight:400;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #main_headline span:nth-child(even) {
        font-weight:300;
    }
}
h2.sub_headline {
    margin:3px 18px;
    padding:7px 0;
}
.tl_gerror {
    margin:12px;
    padding:3px 0 3px 22px;
    background:url("icons/error.svg") no-repeat left center;
}
.tl_error,.tl_confirm,.tl_info,.tl_new {
    margin:0 0 1px;
    padding:11px 18px 11px 37px;
    line-height:1.3;
}
.tl_error {
    background:#faebeb url("icons/error.svg") no-repeat 16px 12px;
}
.tl_confirm {
    background:#eefcde url("icons/ok.svg") no-repeat 16px 12px;
}
.tl_info {
    background:#e9f0f7 url("icons/show.svg") no-repeat 16px 12px;
}
.tl_new {
    background:#fbf2e5 url("icons/featured.svg") no-repeat 16px 12px;
}
.tl_gerror,.tl_gerror a,.tl_error,.tl_error a {
    color:#c33;
}
.tl_confirm,.tl_confirm a {
    color:#589b0e;
}
.tl_info,.tl_info a {
    color:#006494;
}
.tl_new,.tl_new a {
    color:#d68c23;
}