


/* Default icon classes */
.header_icon,.header_clipboard,.header_back,.header_new,.header_rss,.header_edit_all,.header_delete_all,
.header_new_folder,.header_css_import,.header_theme_import,.header_store,.header_toggle,.header_sync {
    padding:3px 0 3px 21px;
    background-position:left center;
    background-repeat:no-repeat;
    margin-left:15px;
}
.list_icon {
    margin-left:-3px;
    padding-left:20px;
    background-position:left center;
    background-repeat:no-repeat;
}
.list_icon_new {
    width:16px;
    background-position:1px center;
    background-repeat:no-repeat;
}