

/* Filter */
.tl_panel,.tl_version_panel {
    padding:8px 10px 8px 0;
    text-align:right;
}
.tl_version_panel a {
    padding: 8px;

    img {
        width: 20px;
        height: auto;
    }
}
.tl_version_panel .tl_select {
    max-width:280px;
}
.tl_version_panel .tl_formbody {
    position:relative;
}
.tl_img_submit {
    margin: 2px;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    border: 1px solid $medGray;
    white-space:nowrap;
    position:relative;
    vertical-align:top;
    cursor:pointer;
}
.filter_apply {
    background:url("icons/filter-apply.svg") 10px center no-repeat rgba($tlGreen, 0.1);
    color: rgba($tlGreen, 0.75);
}
.filter_reset {
    background:url("icons/filter-reset.svg") 10px center no-repeat rgba($tlRed, 0.1);
    color: rgba($tlRed, 0.75);
}
.tl_subpanel {
    float:right;
    letter-spacing:-.31em;
}
.tl_subpanel * {
    letter-spacing:normal;
}
.tl_subpanel strong,.tl_search span {
    vertical-align:middle;
}
.tl_submit_panel {
    min-width:32px;
    padding-left:6px;
    padding-right:3px;
}
.tl_panel .active,.tl_panel_bottom .active,#search .active {
    background-color:#fffce1;
}
.tl_filter {
    width:100%;
}
.tl_filter .tl_select {
    max-width:14.65%;
    margin-left:3px;
}
.tl_submit_panel + .tl_filter {
    width:86%;
}
.tl_limit {
    width:12%;
    min-width: 200px;
}
.tl_limit .tl_select {
    width:52%;
    margin-left:3px;
}
.tl_search {
    width:40%;
}
.tl_search .tl_select {
    width:38%;
    margin-left:3px;
    margin-right:1%;
}
.tl_search .tl_text {
    width:30%;
    margin-left:1%;
    -webkit-appearance:textfield;
    box-sizing:content-box;
}
.tl_sorting {
    width:26%;
}
.tl_sorting .tl_select {
    width:60%;
    margin-left:1%;
}