/* Header */
#header {
    min-height:40px;
    text-align:left;
    color:#fff;
    background: var(--header-bg);

    a {
        color:#fff;
    }
    h1 {
        position:absolute;

        a {
            display: block;
            height: 20px;
            padding: 12px 12px 12px 42px;
            background: var(--icon-logo) no-repeat 10px center;
            font-weight: 400;

            .app-title {
                color: var(--header-text);
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #header h1 a {
        font-weight: 300;
    }
}

#tmenu {
    display:flex;
    justify-content:flex-end;

    li {
        position:relative;
    }
    a, .h2, .profile button {
        padding:13px 12px;
        display:inline-block;
    }
    img {
        vertical-align:top;
    }
    sup {
        position:absolute;
        top:5px;
        left:20px;
        z-index:1;
        font-size:.6rem;
        padding:2px;
        border-radius:2px;
        text-indent:0;
        color: var(--header-bg);
        background: var(--header-text);
        font-weight:400;
    }
    .burger {
        display:none;

        button {
            padding: 8px 10px 9px;
            background: none;
            border: 0;
        }
        svg {
            margin-bottom:-1px;
            vertical-align:middle;
        }
    }
    .h2 {
        padding-right:26px;
        cursor:pointer;
        background:url("icons/chevron-down.svg") right 9px top 14px no-repeat;
        font-size:1rem;
        font-weight:400;
        color:#fff;
    }
    .profile {
        padding-top: 1px;
        display: inline-block;
        
        button {
            position: relative;
            cursor: pointer;
            font-weight: 400;
            border: none;
            padding-right: 26px;
            background:url("icons/chevron-down.svg") right 9px top 14px no-repeat;
        }
    }
    a, .h2, .burger button {
        color: var(--header-text);
        transition:background-color .3s ease;
    }
    a:hover, a.hover,li:hover .h2,.active .h2, .burger button:hover {
        background-color: var(--header-bg-hover);
    }

    ul.menu_level_1 {
        min-width:150px;
        position:absolute;
        right:6px;
        margin-top:5px;
        padding:6px 0 9px;
        background:#fff;
        box-shadow:0 0 3px #999;
        z-index:1;
        color:#444;
        text-align:left;
        opacity:0;
        visibility:hidden;
        transition:opacity .3s ease, visibility .3s ease;

        li a {
            display:block;
            color:inherit;
            padding:6px 20px 6px 40px;
            white-space:nowrap;
        }
        li a:hover {
            background-color:#eee;
        }
        .info {
            color:#808080;
            padding:9px 20px 15px;
            border-bottom:1px solid #e6e6e8;
            line-height:1.4;
            margin-bottom:9px;
            white-space:nowrap;
        }
        strong {
            color:#222;
            display:block;
        }
    }
    .active ul.menu_level_1 {
        opacity:1;
        visibility:visible;
    }
    ul.menu_level_1:before {
        content:"";
        display:block;
        width:0;
        height:0;
        position:absolute;
        right:9px;
        top:-14px;
        border:7px solid transparent;
        border-bottom-color: var(--content-bg);
    }
    ul.menu_level_1:after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        position: absolute;
        top: -6px;
        right: 11px;
        border-top: 1px solid var(--content-border);
        border-right: 1px solid var(--content-border);
        transform: rotateZ(-45deg);
    }
    .icon-alert, .icon-manual, .icon-favorite, .icon-color-scheme {
        width:16px;
        margin-bottom:-2px;
        position:relative;
        background:url("icons/alert.svg") center center no-repeat;
        overflow:hidden;
        white-space:nowrap;
        text-indent:28px; /* 16px width + 12px padding */
    }
    .icon-alert {
        background: var(--icon-alert) center center no-repeat;
    }
    .icon-favorite {
        background: var(--icon-favorite) center center no-repeat;
    }
    .icon-favorite--active {
        background: var(--icon-favorite--active) center center no-repeat;
    }
    .icon-manual {
        background: var(--icon-manual) center center no-repeat;
    }
    .icon-color-scheme {
        background: var(--icon-color-scheme) center center no-repeat;
    }
    .icon-profile {
        background: var(--icon-profile) 20px center no-repeat;
    }
    .icon-security {
        background: var(--icon-security) 20px center no-repeat;
    }
    .icon-favorites {
        background: var(--icon-favorites) 20px center no-repeat;
    }
    .icon-logout {
        background: var(--icon-logout) 20px center no-repeat;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #tmenu .profile button {
        font-weight: 300;
    }
}


@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #tmenu {
        .h2 {
            font-weight: 300;
        }
        ul.menu_level_1 {
            color:#222;
        }
    }
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #header h1 a {
        font-weight:300;
    }
}