
#tl_buttons {
    button {
        border: none;
        background-color: transparent;
        border-radius: unset;
    }
}

/* Header icons */
.header_clipboard {
    background-image:url("icons/clipboard.svg");
}
.header_back {
    background-image:url("icons/back.svg");
}
.header_new {
    background-image:url("icons/new.svg");
}
.header_rss {
    background-image:url("icons/rss.svg");
}
.header_edit_all {
    background-image:url("icons/all.svg");
}
.header_delete_all {
    background-image:url("icons/deleteAll.svg");
}
.header_new_folder {
    padding-left:24px;
    background-image:url("icons/newfolder.svg");
}
.header_css_import {
    background-image:url("icons/cssimport.svg");
}
.header_theme_import {
    background-image:url("icons/theme_import.svg");
}
.header_store {
    padding-left:18px;
    background-image:url("icons/store.svg");
}
.header_toggle {
    background-image:url("icons/folPlus.svg");
}
.header_sync {
    background-image:url("icons/sync.svg");
}