/* Header */
#header {
    min-height:40px;
    text-align:left;
}
#header .inner {
    background:#f47c00;
}
body:not(.fullscreen) #header .inner {
    max-width: 1440px;
    margin:0 auto;
}
#header, #header a {
    color:#fff;
}
#header h1 {
    position:absolute;
}
#header h1 a {
    display:block;
    padding:12px 12px 12px 43px;
    background:url("icons/logo.svg") no-repeat 10px center;
    font-weight:400;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #header h1 a {
        font-weight:300;
    }
}
#tmenu {
    display:flex;
    justify-content:flex-end;
}
#tmenu li {
    position:relative;
}
#tmenu a,#tmenu .h2 {
    padding:13px 12px;
    display:inline-block;
}
#tmenu img {
    vertical-align:top;
}
#tmenu sup {
    position:absolute;
    top:5px;
    left:20px;
    z-index:1;
    font-size:.6rem;
    background:#fff;
    padding:2px;
    border-radius:2px;
    text-indent:0;
    color:#f47c00;
    font-weight:400;
}
#tmenu .burger {
    display:none;
}
#tmenu .burger button {
    margin-right:-2px;
    padding:8px 10px 9px;
    background:none;
    border:0;
    vertical-align:top;
}
#tmenu .burger svg {
    margin-bottom:-1px;
    vertical-align:middle;
}
#tmenu .h2 {
    padding-right:26px;
    cursor:pointer;
    background:url("icons/chevron-down.svg") right 9px top 14px no-repeat;
    font-size:.875rem;
    font-weight:400;
    color:#fff;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #tmenu .h2 {
        font-weight:300;
    }
}
#tmenu a,#tmenu .h2,#tmenu .burger button {
    transition:background-color .3s ease;
}
#tmenu a:hover,#tmenu a.hover,#tmenu li:hover .h2,#tmenu .active .h2,#tmenu .burger button:hover {
    background-color:#e87600;
}
#tmenu ul.menu_level_1 {
    min-width:150px;
    position:absolute;
    right:6px;
    margin-top:5px;
    padding:6px 0 9px;
    background:#fff;
    box-shadow:0 0 3px #999;
    z-index:1;
    color:#444;
    text-align:left;
    opacity:0;
    visibility:hidden;
    transition:opacity .3s ease, visibility .3s ease;
}
#tmenu .active ul.menu_level_1 {
    opacity:1;
    visibility:visible;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #tmenu ul.menu_level_1 {
        color:#222;
    }
}
#tmenu ul.menu_level_1 li a {
    display:block;
    color:inherit;
    padding:6px 20px 6px 40px;
    white-space:nowrap;
}
#tmenu ul.menu_level_1 li a:hover {
    background-color:#eee;
}
#tmenu ul.menu_level_1 .info {
    color:#808080;
    padding:9px 20px 15px;
    border-bottom:1px solid #e6e6e8;
    line-height:1.4;
    margin-bottom:9px;
    white-space:nowrap;
}
#tmenu ul.menu_level_1 strong {
    color:#222;
    display:block;
}
#tmenu ul.menu_level_1:before {
    content:"";
    display:block;
    width:0;
    height:0;
    position:absolute;
    right:9px;
    top:-14px;
    border:7px solid transparent;
    border-bottom-color:#fff;
}
#tmenu ul.menu_level_1:after {
    content:"";
    display:block;
    width:100%;
    height:5px;
    position: absolute;
    top:-5px;
}
#tmenu .icon-alert {
    width:16px;
    margin-bottom:-2px;
    position:relative;
    background:url("icons/alert.svg") center center no-repeat;
    overflow:hidden;
    white-space:nowrap;
    text-indent:28px; /* 16px width + 12px padding */
}
#tmenu .icon-profile {
    background:url("icons/profile_dark.svg") 20px center no-repeat;
}
#tmenu .icon-security {
    background:url("icons/shield_dark.svg") 20px center no-repeat;
}
#tmenu .icon-logout {
    background:url("icons/exit_dark.svg") 20px center no-repeat;
}