


/* List view */
.tl_listing tr.odd td {
    background-color:#fafafc;
}
.tl_listing th,.tl_listing td {
    padding-left:6px !important;
    padding-right:6px !important;
}
.list_view .tl_listing img.theme_preview {
    margin-right:9px;
}
.tl_show {
    width:96%;
    margin:18px 2%;
    padding:9px 0 18px;
}
.tl_show td {
    padding:4px 6px;
    line-height:16px;
    white-space:pre-line;
    background:#f6f6f8;
}
.tl_show td:first-child {
    width:34%;
    white-space:normal;
}
.tl_show td p:last-of-type {
    margin-bottom:0;
}
.tl_show tr:nth-child(2n) td {
    background:#fff;
}
.tl_show small {
    display:block;
    color:#808080;
}
.tl_label {
    margin-right:12px;
    font-weight:600;
    white-space:nowrap;
}
.tl_label small {
    font-weight:400;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .tl_label small {
        font-weight:300;
    }
}
.tl_empty {
    margin:0;
    padding:18px;
}
.tl_empty_parent_view {
    margin:0;
    padding:18px 0 0;
}
.tl_listing_container + .tl_empty {
    margin-top:-32px;
}
.tl_noopt {
    margin:0 0 -1px;
}
.tl_select_trigger {
    margin-top:-9px;
    padding:0 6px 3px 0;
    text-align:right;
}
.tl_radio_reset {
    margin-top:6px;
    padding:0 6px 3px 0;
    text-align:right;
}
.tl_select_label,.tl_radio_label {
    margin-right:2px;
    color:#999;
    font-size:.75rem;
}