$navHeaderColor:                $medGray;
$navButtonColor:                $bodyFontColor;
$navButtonHoverColor:           $medGray;
$navButtonCurrentColor:         $contaoOrange;
$navButtonCurrentBorderColor:   $contaoOrange;


/* Navigation */
#tl_navigation {
    flex-grow:1;

    .menu_level_0 {
        padding-top:18px;

        > li:after {
            content:"";
            width:calc(100% - 30px);
            height:1px;
            background:#3a454d;
            display:block;
            margin:15px auto;
            background: var(--nav-separator);
        }

        > li.last:after {
            display:none;
        }

        > li > a {
            display:block;
            margin:0 15px;
            padding:3px 3px 3px 24px;
            color: var(--nav-group);
            font-size:.65rem;
            text-transform:uppercase;
        }
    }
    .group-favorites {
        background: url("icons/favorites_group.svg") 3px 2px no-repeat;
    }
    .group-content {
        background:url("icons/content.svg") 3px 2px no-repeat;
    }
    .group-design {
        background:url("icons/monitor.svg") 3px 2px no-repeat;
    }
    .group-accounts {
        background:url("icons/person.svg") 3px 2px no-repeat;
    }
    .group-system {
        background:url("icons/wrench.svg") 3px 2px no-repeat;
    }
    [class^="menu_level_"] a {
        color: var(--nav);
    }

    .menu_level_1 {
        padding:6px 0 0 20px;
        li {
            padding: 5px 0;
        }
        a {
            font-size: .9rem;
            display:block;
            padding:0 18px 0 15px;
            font-weight:400;
            color: var(--nav);
            transition: all .2s ease;
            border-left: 4px solid transparent;
        }
        a:hover {
            border-left: 4px solid var(--nav-hover);
            color: var(--nav-hover);
        }
        li.current {
            a, a:hover {
                background-color: var(--nav-hover-bg);
                color: var(--nav-current);
                font-weight: 700;
                border-left: 4px solid var(--nav-current);
            }
        }
    }

    .tl_level_2 li:hover a {
        color: var(--nav);
    }

    .collapsed .menu_level_1 {
        display:none;
    }
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    #tl_navigation .menu_level_1 a {
        font-weight:300;
    }
}