

/* Picker */
.selector_container {
    margin-top:1px;
    position:relative;
}
.selector_container > ul {
    margin-bottom:1px;
    list-style-type:none;
    overflow:hidden;
}
.selector_container > ul > li {
    margin-right:9px;
    padding:2px 0;
}
.selector_container p {
    margin-bottom:1px;
}
.selector_container ul:not(.sgallery) img {
    margin-right:1px;
    vertical-align:text-top;
}
.selector_container .limit_height {
    height:auto !important;
    max-height:190px;
}
.selector_container .limit_toggler {
    display:none;
}
.selector_container h1,.selector_container h2,.selector_container h3,.selector_container h4 {
    margin:0;
    padding:0;
}
.selector_container pre {
    white-space:pre-wrap;
}
ul.sgallery {
    overflow:hidden;
}
ul.sgallery li {
    min-width:100px;
    min-height:75px;
    float:left;
    margin:2px 4px 2px 0;
    padding:0;
    background:#eee;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
}