
/* Rebuild the search index */
#tl_rebuild_index {
    padding:0 18px 18px;
    line-height:1.3;
}
#index_note {
    margin:24px 0 18px;
    padding:11px 12px 12px;
    background:#ffc;
    border:1px solid #f90;
    font-size:.875rem;
}
#index_loading {
    margin:0;
    padding:12px 12px 12px 24px;
    background:url("icons/loading.svg") no-repeat left center;
    background-size:16px;
    color:#006494;
}
#index_complete {
    margin:0;
    padding:12px 12px 12px 24px;
    background:url("icons/ok.svg") no-repeat left center;
    color:#589b0e;
}