


/* SERP preview */
.serp-preview {
    max-width:600px;
    margin:2px 0;
    padding:4px 6px;
    font-family:Arial,sans-serif;
    font-weight:400;
    color:#3c4043;
    border:1px dotted #aaa;
    border-radius:2px;
}
.serp-preview p {
    margin-bottom:0;
    line-height:1.3;
}
.serp-preview .url {
    margin-bottom:4px;
}
.serp-preview .title {
    margin-bottom:2px;
    font-size:18px;
    color:#1a0dab;
    line-height:1;
}
.serp-preview .description:not(:empty) {
    margin-top:3px;
}
