


/* Welcome screen */
.popup #tl_soverview {
    margin-top:15px;
}
#tl_soverview > div {
    padding:0 15px 4px;
    border-bottom: 1px solid var(--border);
}
#tl_soverview > div:last-child {
    border-bottom:0;
}
#tl_soverview table {
    width:100%;
    margin-bottom:14px;
}
#tl_messages h2,#tl_shortcuts h2,#tl_versions h2,#tl_actionbuttons h2 {
    margin:18px 0 6px;
}
#tl_messages p:not([class]) {
    margin-top:6px;
}
#tl_messages .tl_error,#tl_messages .tl_confirm,#tl_messages .tl_info,#tl_messages .tl_new {
    padding:3px 6px 3px 21px;
    background-position:left 4px;
    background-color:transparent;
}
#tl_shortcuts p a {
    text-decoration:underline;
}
#tl_versions {
    margin-bottom:0;
}
#tl_versions th {
    padding:8px;
}
#tl_versions td {
    padding: 12px;
}
#tl_versions td:first-child {
    white-space:nowrap;
}
#tl_versions td:last-child {
    width:32px;
    white-space:nowrap;
    text-align:right;

    img {
        width: 20px;
        height: auto;
        margin-right: 3px;
    }
}
#tl_versions img.undo {
    padding-right:2px;
}
#tl_versions .pagination {
    margin-top:18px;
    margin-bottom:14px;
}

#tl_actionbuttons {
    .button_wrapper {
        padding: 16px 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 16px;
    }
    .action_button {
        a {
            padding: 32px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: var(--nav-hover) 1px solid;
            background: var(--nav-bg);
            border-radius: 16px;
            align-items: center;
            min-width: 100px;

            &:hover {
                background: var(--nav-hover-bg);
                color: var(--nav-hover);
                border-color: var(--nav-current);
            }
            span.image_wrapper {
                display: block;
                width: 55px;
                height: 55px;

            }
            img {
                opacity: 0.5;
                display: inline-block;
                object-fit: contain;
            }
        }
    }
}