

/* Checkbox wizard */
.tl_checkbox_wizard .fixed {
    display:block;
    margin-top:1px;
}
.tl_checkbox_wizard .sortable span {
    display:block;
}
.tl_checkbox_wizard .sortable img {
    vertical-align:bottom;
}