

/* Section wizard */
.tl_sectionwizard {
    margin-top:2px;
    width:100%;
    max-width:680px;
}
.tl_sectionwizard td {
    width:25%;
    position:relative;
    padding:0 3px 0 0;
}
.tl_sectionwizard th {
    font-size:.75rem;
    font-weight:400;
    padding:0 4px 1px 0;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .tl_sectionwizard th {
        font-weight:300;
    }
}
.tl_sectionwizard td:last-child {
    white-space:nowrap;
}
