

/* Table wizard */
#tl_tablewizard {
    margin-top:2px;
    padding-bottom:2px;
    overflow:auto;
}
.tl_tablewizard td {
    padding:0 3px 0 0;
}
.tl_tablewizard thead td {
    padding-bottom:3px;
    text-align:center;
    white-space:nowrap;
}
.tl_tablewizard tbody td:last-child {
    white-space:nowrap;
}
.tl_tablewizard td.tcontainer {
    vertical-align:top;
}