

/* Meta wizard */
.tl_metawizard {
    margin:3px 0;
}
.tl_metawizard li {
    overflow:hidden;
    margin-bottom:2px;
    padding:9px;
    background:#f3f3f5;
}
.tl_metawizard li.odd {
    background:#f9f9fb;
}
.tl_metawizard span img {
    cursor:pointer;
}
.tl_metawizard label {
    float:left;
    width:18%;
    margin-top:9px;
}
.tl_metawizard .tl_text {
    float:left;
    width:82%;
    margin:1px 0;
}
.tl_metawizard .tl_text + a {
    top:6px;
}
.tl_metawizard br {
    clear:left;
}
.tl_metawizard .lang {
    display:block;
    margin-bottom:9px;
    font-weight:600;
    position:relative;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .tl_metawizard .lang {
        font-weight:500;
    }
}
.tl_metawizard_img {
    position:absolute;
    right:0;
    top:-1px;
}
.tl_metawizard_new .tl_select {
    margin-right:4px;
    max-width:200px;
}
.tl_metawizard_new .tl_submit {
    line-height:1;
}
