/* HTML */
html {
    font-size:100%;
    -webkit-text-size-adjust:100%;
}

/* General */
header,footer,nav,section,aside,main,article,figure,figcaption {
    display:block;
}
body,button,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,figure,form,fieldset,legend,p,blockquote,table {
    margin:0;
    padding:0;
}
img {
    border:0;
}
ul,li {
    list-style:none;
}
table {
    border-spacing:0;
    border-collapse:collapse;
    empty-cells:show;
}
th,td {
    padding:0;
    text-align:left;
}
input,select,button,label,img,a.tl_submit,.tl_select {
    vertical-align:middle;
}
button {
    cursor:pointer;
}