
/* Select menus */
select {
    text-transform:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
select::-ms-expand {
    display:none;
}
select[multiple] {
    height:auto;
}
.tl_select,.tl_mselect,.tl_select_column {
    width:100%;
}
.tl_select_unit {
    width:20%;
}
.tl_select_interval {
    width:50%;
}
.tl_select,.tl_mselect,.tl_select_column,.tl_select_unit,.tl_select_interval {
    margin:2px 0;
    box-sizing:border-box;
    border:1px solid #aaa;
    padding:5px 22px 6px 6px;
    border-radius:2px;
    background:#fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDUwMCA1MDAiPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMzEuNTIzIiB5MT0iNDIuNjMiIHgyPSIzNjguNDc4IiB5Mj0iMjc5LjU4NCI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjYjNiM2IzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOTk5Ii8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNMjUwIDM5Ni42NjZjLTEuMTU1IDAtNC4xMS0xLjgzMi03LjExMy02Ljc1bC0xNjkuNi0yNzcuNDU1Yy0yLjUxNy00LjExNC0zLjE5LTYuOTgtMy4yOC04LjMxNC44MjctLjMzIDIuNTY1LS44MTIgNS42MjctLjgxMmgzNDguNzMzYzMuMDYzIDAgNC43OTguNDgyIDUuNjI3LjgxMi0uMDkgMS4zMzQtLjc2NiA0LjItMy4yOCA4LjMxNWwtMTY5LjYgMjc3LjQ1N2MtMy4wMDUgNC45MTctNS45NiA2Ljc1LTcuMTE0IDYuNzV6Ii8+PC9zdmc+") right -16px center no-repeat;
    background-origin:content-box;
    cursor:pointer;
}
.tl_select[disabled],.tl_mselect[disabled],.tl_select_column[disabled],.tl_select_unit[disabled],.tl_select_interval[disabled],
.tl_select[readonly],.tl_mselect[readonly],.tl_select_column[readonly],.tl_select_unit[readonly],.tl_select_interval[readonly] {
    color:#bbb;
    background-color:#f9f9f9;
    border:1px solid #c8c8c8;
    cursor:not-allowed;
}
.tl_select[multiple],.tl_mselect[multiple],.tl_select_column[multiple],.tl_select_unit[multiple],.tl_select_interval[multiple] {
    background-image:none;
}
@-moz-document url-prefix() {
    .tl_select,.tl_mselect,.tl_select_column,.tl_select_unit,.tl_select_interval {
        padding:4px 18px 4px 2px;
    }
}
@supports (display:-ms-grid) {
    .tl_select,.tl_mselect,.tl_select_column,.tl_select_unit,.tl_select_interval {
        padding:5px 18px 5px 2px;
    }
}