
/* Tips */
.tl_tip {
    height:15px;
    overflow:hidden;
    cursor:help;
}
.tip-wrap {
    z-index:99;
}
.tip {
    max-width:320px;
    padding:6px 9px;
    border-radius:2px;
    background: var(--invert-bg);
}
.tip div {
    line-height:1.3;
}
.tip div,.tip a {
    color: var(--invert-text);
    font-size: 0.875rem;
}
.tip:before {
    border-bottom: 7px solid var(--invert-bg);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    height: 6px;
    left: 9px;
    position: absolute;
    top: -13px
}

.tip--rtl:before {
    left: auto;
    right: 9px
}